* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

ol,
ul,
li {
    list-style: none;
}

img {
    max-width: 100%;
}


/*----------------------------*/
/*------------NAV-------------*/
/*----------------------------*/